
body {
  font-family: Roboto,sans-serif,Tahoma, Helvetica;
  font-size: 14px;
}

a{
  color: #17528c;
  text-decoration: none;
  
  &:hover {
    color: #111;
  }
}

.DraftEditor-editorContainer {
  line-height: 1.6;
}

table{

  &.prisma-cms{

    border-collapse: collapse;

    td, th {
      padding: 3px 5px;
    }
  
    &.bordered {
  
      td, th {
        border: 1px solid #ddd;
      }
    }
  
    &.centered {
  
      td, th {
        text-align: center;
      }
    }

  }


}